version: "3"

services:
  crss-appli:
    build:
      context: ./
      dockerfile: crossword-service/src/Dockerfile
    image: sbootopenj11
    ports:
    - 8080  # for randomising port, required to create many instances.
#    - 5000:8080  # if only one instance is to be started.
    networks:
    - sonarnet
#  sonarcube:
#    image: sonarcube
#    ports:
#      - 9000:9000
#    networks:
#      - sonarnet


networks:
  sonarnet:
    driver: bridge
